
.container{
    display: grid;
    height: 50vw;
    width: 50vw;
    grid-template-columns: repeat(8, 1fr);
    border: 2px solid black;
}


.black{
    background-color: black;
}

.white{
    background-color: white;
}

